<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.i_project.dnb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Dnb_FragmentActivity"
            android:label="Timetable"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Dnb_ContactUs"
            android:label="About Us">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dnb_HomePage" />
        </activity>

        <activity
            android:name=".Dnb_Download"
            android:label="Download file">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dnb_I_Library" />
        </activity>


        <activity
            android:name=".Dnb_Settings"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Dnb_FeaturedLink"
            android:label="Featured Link"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Dnb_UGWebsite"
            android:label="University of Ghana">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dnb_FeaturedLink" />
        </activity>

        <activity
            android:name=".Dnb_Announcement"
            android:label="Announcement"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Dnb_MISWeb"
            android:label="UG MIS Web">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dnb_FeaturedLink" />
        </activity>

        <activity
            android:name=".Dnb_Sakai"
            android:label="Sakai">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dnb_FeaturedLink" />
        </activity>

        <activity
            android:name=".Dnb_I_Library"
            android:label="I-Library"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Dnb_UGLibrary"
            android:label="UG Library">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dnb_FeaturedLink" />
        </activity>

        <activity
            android:name=".Dnb_StudentService"
            android:label="Student Service">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dnb_FeaturedLink" />
        </activity>

        <activity
            android:name=".Dnb_HomePage"
            android:label="DNB"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".DNB_SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

</manifest>

